<plugin name='quick-books-online' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Paul Osborne</author>
  <authorEmail>hello@paulosborne.me.uk</authorEmail>
  <title>Quick Books Online Plugin</title>
  <description>Grails plugin for integration with the QuickBooksOnline API.
</description>
  <documentation>https://github.com/enrobsop/grails-quickbooks-online/blob/master/README.md</documentation>
  <type>QuickBooksOnlineGrailsPlugin</type>
  <resources>
    <resource>QuickBooksOnlineUrlMappings</resource>
    <resource>mcomp.grails.quickbooksonline.QuickbooksOauthController</resource>
    <resource>mcomp.grails.quickbooksonline.QuickBooksService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.objenesis' name='objenesis' version='1.2' />
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-2.0' />
    </test>
    <compile>
      <dependency group='org.scribe' name='scribe' version='1.3.5' />
    </compile>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='grails-oauth' version='2.4-SNAPSHOT' />
    </compile>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>